{% extends 'partials/base.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="flex flex-col w-full">
    <div class="table-auto overflow-x-scroll">
        <table id="table" class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Location</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Update Location</th>
                    <th scope="col">Update Roles</th>
                    <th scope="col">Remove Roles</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.user.username }}</td>
                        <td>{{ user.location }}</td>
                        <td>
                            {% for group in user.user.groups.all %}
                                {{ group.name }}
                            {% empty %}
                                No groups
                            {% endfor %}
                        </td>
                        <td>
                            <form method="post" action="{% url 'update-user-location' user.user.id %}">
                                {% csrf_token %}
                                <select name="location">
                                    <option value="" {% if not user.location %} selected {% endif %}>Null</option>
                                    {% for location in locations %}
                                        <option value="{{ location.id }}"
                                            {% if location.id == user.location.id %} selected {% endif %}>
                                            {{ location.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{% url 'update-user-groups' user.user.id %}">
                                {% csrf_token %}
                                <select name="add_group">
                                    <option value="" disabled selected>-------------------</option>
                                    {% for group in groups %}
                                        {% if group not in user.user.groups.all %}
                                            <option value="{{ group.id }}">{{ group.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add Role</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{% url 'update-user-groups' user.user.id %}">
                                {% csrf_token %}
                                <select name="remove_group">
                                    {% for group in user.user.groups.all %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Remove Role</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="text-center pt-3">
        <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="button" data-drawer-target="drawer-bottom-example" data-drawer-show="drawer-bottom-example" data-drawer-placement="bottom" aria-controls="drawer-bottom-example">
        Add Category
        </button>
     </div>
     
     <!-- drawer component -->
     <div id="drawer-bottom-example" class="fixed bottom-0 left-0 right-0 z-40 w-full p-4 overflow-y-auto transition-transform bg-white dark:bg-gray-800 translate-y-full" tabindex="-1" aria-labelledby="drawer-bottom-label">
         <h5 id="drawer-bottom-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400"><svg class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Add Category</h5>
         <button type="button" data-drawer-hide="drawer-bottom-example" aria-controls="drawer-bottom-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
             <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
             <span class="sr-only">Close menu</span>
         </button>
         <form method="POST">
            {% csrf_token %}
            {{ category_form|crispy }}
            <input class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="submit" value="Add Category" name="category">
        </form>
     </div>    
    {% endblock %}
</div>



{% block js %}
    <script>
        $(document).ready( function () {
            var table = $('#table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            }); 
        });
    </script>
    
{% endblock %}
