{% extends 'partials/base.html' %}
{% block title %}Add New Quotation{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="flex flex-col w-full">
    <div class="table-auto overflow-x-scroll">
        <h5 class="mb-4 text-xl font-bold text-black">Add New Quotation</h5>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <form method="POST" action="{% url 'create-quotation' pk=pk %}">
            {% csrf_token %}
            {{ quotation_form.supplier_name }}
            {{ quotation_form.as_p }}
            <table class="w-full" id="items-table">
                {{ quotation_item_formset.management_form | crispy}}
                {% for form in quotation_item_formset %}
                    <tr class="formset-row">
                        {% for field in form.visible_fields %}
                            {% if field.name != 'DELETE' %}
                                <td>{{ field|as_crispy_field }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 delete-row">Remove Item</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <button type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 add-row">Add 1 More Product</button>
            <input type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 btn-block" value="Finish Quotation">
        </form>
        <input type=button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" value="Go Back" onClick="javascript:history.go(-1);">
        {% endblock %}
    </div>
</div>

{% block js %}
    <script>
        $(document).ready(function () {
            $('.add-row').click(function () {
                addFormsetRow();
            });

            $(document).on('click', '.delete-row', function () {
                $(this).closest('.formset-row').remove();
                updateFormsetIndexes();
            });

            function updateFormsetIndexes() {
                var i = 0;
                $('.formset-row').each(function () {
                    $(this).find('input, select, textarea').each(function () {
                        var name = $(this).attr('name').replace(/\d+/g, i);
                        $(this).attr('name', name);
                        $(this).attr('id', 'id_' + name);
                    });
                    i++;
                });
                $('#id_items-TOTAL_FORMS').val(i);
            }

            function addFormsetRow() {
                var formCount = $('#id_items-TOTAL_FORMS').val();
                var newFormHtml = $('#formset-empty-row').html().replace(/__prefix__/g, formCount);
                $('#items-table tbody').append(newFormHtml);
                $('#id_items-TOTAL_FORMS').val(parseInt(formCount) + 1);
                $('.formset-row:last').find('input, select, textarea').each(function () {
                    var name = $(this).attr('name').replace(/\d+/g, formCount);
                    var id = 'id_' + name;
                    $(this).attr('name', name);
                    $(this).attr('id', id);
                    $('label[for="' + $(this).attr('id') + '"]').attr('for', id);
                });
                updateFormsetIndexes();
            }
        });
    </script>
    
    <script id="formset-empty-row" type="text/template">
        {% for form in quotation_item_formset_empty %}
            <tr class="formset-row">
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                
                <td>
                    {{ form.inventory|as_crispy_field }}
                </td>
                <td>
                    {{ form.supplierName|as_crispy_field }}
                </td>
                <td>
                    {{ form.quantity|as_crispy_field }}
                </td>
                <td>
                    {{ form.price|as_crispy_field }}
                </td>
                <td>
                    <button type="button" class="btn btn-danger delete-row">Remove Item</button>
                </td>
            </tr>
        {% endfor %}
    </script>
{% endblock %}
