{% extends 'partials/base.html' %}
{% block title %}Multiple Delivery Setup{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="flex flex-col w-full">
    <div class="table-auto overflow-x-scroll">
        <h5 class="mb-4 text-xl font-bold text-black">Provide Delivery Dates for:</h5>
        <h4 class="font-normal text-black">{{ qItem.quantity }} {{ qItem.inventory.name }}</h4>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <form id="delivery-forms" method="POST" action="{% url 'create-partial-delivery' qItem.id%}">
            {% csrf_token %}
            <table class="w-full" id="items-table">
                {{ formset.management_form | crispy }}
                {% for form in formset %}
                <tr>
                    <td>
                        <input type="date" name="formset-0-expectedDeliveryDate" required>
                    </td>
                    <td>
                        {{ form.expectedDeliveryDate|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.pQuantity|as_crispy_field }}
                    </td>
                    <td>
                        <button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 delete-row">Remove Item</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <button type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 add-row">Add 1 More Delivery Date</button>
            <input type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 btn-block" value="Create Delivery">
        </form>
        <input type=button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" value="Go Back" onClick="javascript:history.go(-1);">
{% endblock %}
    </div>
</div>


{% block js %}
<script>
    $(document).ready(function () {
        $('.add-row').click(function () {
            addFormsetRow();
        });

        $(document).on('click', '.delete-row', function () {
            $(this).closest('.formset-row').remove();
            updateFormsetIndexes();
        });

        function updateFormsetIndexes() {
            var i = 0;
            $('.formset-row').each(function (index) {
                $(this).find('input, select, textarea').each(function () {
                    var name = $(this).attr('name').replace(/formset-\d+-/g, 'formset-' + index + '-');
                    $(this).attr('name', name);
                    $(this).attr('id', 'id_' + name);
                });
                i++;
            });
            $('#formset-TOTAL_FORMS').val(i);
        }

        function addFormsetRow() {
            var formCount = $('.formset-row').length;
            var newFormHtml = $('#formset-empty-row').html().replace(/__prefix__/g, formCount);
            var newRow = $('<tbody>').append(newFormHtml).find('.formset-row');
            $('#items-table tbody').append(newRow);
            $('#id_formset-TOTAL_FORMS').val(parseInt(formCount) + 1);
            updateFormsetIndexes();
        }

        updateFormsetIndexes();

        // Prevent form submission if total quantity is not equal to available quantity
        $('#delivery-forms').submit(function (event) {
            var totalQuantity = 0;
            $('.formset-row').each(function () {
                var quantity = parseInt($(this).find('input[name$="pQuantity"]').val());
                totalQuantity += isNaN(quantity) ? 0 : quantity;
            });

            var availableQuantity = parseInt('{{ qItem.quantity }}');
            if (totalQuantity !== availableQuantity) {
                event.preventDefault();
                alert('Total quantity must be equal to the available quantity. Please adjust the quantities.');
            }
        });
    });
</script>
<script id="formset-empty-row" type="text/template">
    <tr class="formset-row">
        <td>
            <input type="date" name="formset-__prefix__-expectedDeliveryDate" required>
        </td>
        <td>
            <input type="number" name="formset-__prefix__-pQuantity" required>
        </td>
        <td>
            <button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 delete-row">Remove Item</button>
        </td>
    </tr>
</script>
{% endblock %}
