{%extends 'partials/base.html'%}
{% block title %}Deliveries Page{% endblock %}

{% block content %}

<div class="flex flex-col w-full">
    <div class="table-auto overflow-x-scroll">
            <div class="text-left mb-4">
                <a class="" href="{% url 'create-request'%}">
                    <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Create Purchase Request</button>
                </a>
                <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 sm:mt-6" id="unfiltered-btn">Show Current Deliveries</button>
                <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 sm:mt-6" id="filtered-btn">Show Previous Deliveries</button>
            </div>
            <div id="unfiltered-container">
                <table id="unfiltered-table" class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Supplier</th>
                            <th scope="col">Status</th>
                            {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Engineering" %}
                            <th scope="col">Arrival</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in deliveryItem %}
                        <tr>
                            <td>
                                <!-- Add a clickable dropdown button to show the delivery details -->
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ d }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item">Name: {{ d.inventory }}</a>
                                        {% if d.pQuantity == 0 %}
                                            <a class="dropdown-item">Quantity: {{ d.quantity }}</a>
                                        {% else %}
                                            <a class="dropdown-item">Quantity: {{ d.pQuantity }}</a>
                                        {% endif %}
                                        
                                        <a class="dropdown-item">Location: {{ d.deliveryLocation }}</a>
                                        <a class="dropdown-item">Expected Delivery Date: {{ d.expectedDeliveryDate|date:"M d Y" }}</a>
                                    </div>
                                </div>
                            </td>
        
                            <td>{{ d.quotationItem.supplierName }}</td>
                            <td>{{ d.status }}</td>
        
                            {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Engineering" %}
                                {% if d.dateArrived == null %}
                                <td>
                                    <form action="{% url 'arriveDelivery' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="pk" value="{{d.id}}">
                                    <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="submit">Confirm Delivery Arrival</button>
                                    </form>
                                </td>
                                {% else %}
                                <td>
                                    Delivery Complete
                                </td>
                                {% endif%}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="filtered-container">
                <table id="filtered-table" class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Supplier</th>
                            <th scope="col">Status</th>
                            {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Engineering" %}
                            <th scope="col">Arrival</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in filteredDeliveryItem %}
                        <tr>
                            <td>
                                <!-- Add a clickable dropdown button to show the delivery details -->
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ d }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item">Name: {{ d.inventory }}</a>
                                        <a class="dropdown-item">Quantity: {{ d.quantity }}</a>
                                        <a class="dropdown-item">Location: {{ d.deliveryLocation }}</a>
                                        <a class="dropdown-item">Expected Delivery Date: {{ d.expectedDeliveryDate|date:"M d Y" }}</a>
                                    </div>
                                </div>
                            </td>
                            
                            <td>{{ d.quotationItem.supplierName }}</td>
                            <td>{{ d.status }}</td>
        
                            {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Engineering" %}
                                <td>
                                    Delivery arrived on {{ d.dateArrived|date:"M d Y" }}
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    </div>
</div>



<!-- DATATABLES JS  -->
{% block js %}
    <script>
        $(document).ready( function () {
            var unfilteredTable = $('#unfiltered-table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            });
    
            var filteredTable = $('#filtered-table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            });

            $('#filtered-container').hide();

            $('#unfiltered-btn').on('click', function() {
                unfilteredTable.draw();
                $('#unfiltered-container').show();
                $('#filtered-container').hide();
            });
    
            $('#filtered-btn').on('click', function() {
                filteredTable.draw();
                $('#unfiltered-container').hide();
                $('#filtered-container').show();
            });
            
        });
    </script>
    
    </div>
{% endblock %}
