{%extends 'partials/base.html'%}
{% block title %}Edit Inventory Settings{% endblock %}

{% block content %}

<div class="flex flex-col w-full">
    <div class="table-auto overflow-x-scroll">
        <table id="table" class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Inventory</th>
                    <th scope="col">Minimum Quantity for Restocking</th>
                    <th scope="col">Target Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for i in inventory %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>
                            <form method="post" action="{% url 'update-inventory-restocking' i.id %}">
                                {% csrf_token %}
                                <input type="number" name="restocking_threshold" min="0" value="{{ i.restocking_threshold }}" required>
                                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{% url 'update-inventory-restocking' i.id %}">
                                {% csrf_token %}
                                <input type="number" name="restocking_amount" min="0" value="{{ i.restocking_amount }}" required>
                                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
        
            </tbody>
        </table>
        <input type=button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" value="Go Back" onClick="javascript:history.go(-1);">
        {% endblock %}
    </div>
</div>


{% block js %}
    <script>
        $(document).ready( function () {
            var table = $('#table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            }); 
        });
    </script>
    
{% endblock %}
