{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Inventory Withdraw{% endblock %}

{% block content %}

<div class="flex flex-col w-full">
  <div class="table-auto overflow-x-scroll">
    <h5 class="mb-4 text-xl font-bold text-black">Withdraw Inventory</h5>
      <form method="POST">
        {% csrf_token %}
        <table class="w-full" id="items-table">
          {{ formset.management_form | crispy}}
          {% for form in formset %}
            <tr class="">
              <td>{{ form.inventory|as_crispy_field }}</td>
  
              <td>{{ form.quantity|as_crispy_field }}</td>
              <td><button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 delete-row">Remove Item</button></td>
            </tr>
          {% endfor %}
        </table>
        <button type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 add-row">Add 1 More Product</button>
        <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 w-full" type="submit">Withdraw Inventory</button>
      </form>
      <input type=button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" value="Go Back" onClick="javascript:history.go(-1);">
    </div>
  {% endblock %}
</div>


  

   

{% block js %}
 <script id="formset-empty-row" type="text/template">
        <tr class="">
            {% for form in formset %}
            <td>{{ form.inventory|as_crispy_field }}</td>

            <td>{{ form.quantity|as_crispy_field }}</td>
            {% endfor %}
            <td><button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 delete-row">Remove Item</button></td>
        </tr>
</script>

<script>
  $(document).ready(function () {
    $('.add-row').click(function () {
      addFormsetRow();
    });

    $(document).on('click', '.delete-row', function () {
      $(this).closest('.formset-row').remove();
      updateFormsetIndexes();
    });

    function updateFormsetIndexes() {
        var i = 0;
        $('.formset-row').each(function () {
            $(this).find('input, select, textarea').each(function () {
                var name = $(this).attr('name').replace(/\d+/g, i);
                $(this).attr('name', name);
                $(this).attr('id', 'id_' + name);
            });
            i++;
        });
        $('#id_form-TOTAL_FORMS').val(i);
    }
 
    function addFormsetRow() {
        var formCount = $('#id_form-TOTAL_FORMS').val();
        var newFormHtml = $('#formset-empty-row').html().replace(/__prefix__/g, formCount);
        $('#items-table tbody').append(newFormHtml);
        $('#id_form-TOTAL_FORMS').val(parseInt(formCount) + 1);
        
        // Set the name attribute for the new form elements
        $('.formset-row:last').find('input, select, textarea').each(function () {
            var name = $(this).attr('name').replace(/\d+/g, formCount);
            var id = 'id_' + name;
            $(this).attr('name', name);
            $(this).attr('id', id);
            $('label[for="' + $(this).attr('id') + '"]').attr('for', id);
        });

        updateFormsetIndexes();
    }


  });
</script>
{% endblock %}
