{%extends 'partials/base.html'%}
{% block title %}Previous Withdrawals{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="flex flex-col w-full">
  <div class="table-auto overflow-x-scroll">
    <h2 class="mb-4 text-xl font-bold text-black">Record of Previous Withdrawals</h2>
    <a href="{% url 'inventory_withdraw' %}" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Withdraw Inventory</a>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <table id="table" class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Inventory Item</th>
          <th>Location</th>
          <th>Quantity</th>
          <th>Withdrawn By</th>
          <th>Withdrawn Date</th>
        </tr>
      </thead>
      <tbody>
        {% for withdrawal in inventory_withdrawals %}
          <tr>
            <td>{{ withdrawal.inventory.name }}</td>
            <td>{{ withdrawal.inventory.location.name }}</td>
            <td>{{ withdrawal.quantity }}</td>
            <td>{{ withdrawal.withdrawn_by.get_full_name }}</td>
            <td>{{ withdrawal.withdrawn_date|date:"M d Y" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endblock %}
  </div>
</div>
  
{% block js %}  
    <script>
        $(document).ready( function () {
            var table = $('#table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            });

            
        });
    </script>
{% endblock %}