{%extends 'partials/base.html'%}
{% block title %}Quotation List{% endblock %}

{% block content %}

<div class="flex flex-col w-full">
    <div class="table-auto overflow-x-scroll">
        {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Finance" %}
        <a class = ""href="{% url 'create-quotation' pk %}">
            <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                Create Quotation 
            </button>
        </a>
        {% endif %}
        <div id="unfiltered-container">
            <table id="unfiltered-table" class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Supplier Name</th>
                        <th scope="col">Items</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Management" or request.user|has_group:"Finance" %}
                        <th scope="col">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for q in quotationItem %}
                    <tr>
                        <td>{{ q.supplierName }}</td>
                        <td>{{ q.inventory.name }}</td>
                        <td>{{ q.quantity }}</td>
                        <td>₱{{ q.price|floatformat:2 }}</td>
                        {% if q.dateApproved is None %}
                            {% if request.user.is_authenticated and request.user|has_group:"Management" or request.user|has_group:"Administrator" %}
                            <td>
                                <form action="{% url 'approveQuotation' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="pk" value="{{q.id}}">
                                <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="submit">Approve Quotation</button>
                                </form>
                            </td>
                            {% elif request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Finance" %}
                            <td>Waiting Approval</td>
                            {% endif %}
                        {% else %}
                            {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Finance" and q.dateApproved %}
                                {% if q.deliverySet == False %}
                                <td>
                                    <button class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" type="button" data-toggle="modal" data-target="#deliveryModal{{q.id}}">
                                    Set Single Delivery
                                    </button>
    
                                    <!-- Delivery Modal -->
                                    <div class="modal fade" id="deliveryModal{{q.id}}" tabindex="-1" aria-labelledby="deliveryModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deliveryModalLabel">Set Delivery Date</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'set-delivery' %}" method="POST">
                                                        {% csrf_token %}
                                                        <div class="mb-3">
                                                            <label for="expected_date" class="form-label">Expected Arrival Date</label>
                                                            <input type="date" class="form-control" name="expected_date" required>
                                                        </div>
                                                        <input type="hidden" name="pk" value="{{q.id}}">
                                                        <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <a href="{% url 'create-partial-delivery' q.id %}" class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900"> Set Multiple Deliveries </a>
                                </td>
                                {% else %}
                                    <td>Delivery Created</td>
                                {% endif %}
                            {% else %}
                            <td>Approved by {{ q.approvedBy }}</td></td>
                            {% endif %}
                        {% endif %}
                        </tr>
                {% endfor %}
                </tbody>           
            </table>
            <input type=button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" value="Go Back" onClick="javascript:history.go(-1);">
        </div>
    {% endblock %}
    </div>
</div>



{% block js %}
    <script>
        $(document).ready( function () {
            var unfilteredTable = $('#unfiltered-table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            });
    
            var filteredTable = $('#filtered-table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            });

            $('#filtered-container').hide();

            $('#unfiltered-btn').on('click', function() {
                unfilteredTable.draw();
                $('#unfiltered-container').show();
                $('#filtered-container').hide();
            });
    
            $('#filtered-btn').on('click', function() {
                filteredTable.draw();
                $('#unfiltered-container').hide();
                $('#filtered-container').show();
            });
            
        });
    </script>
{% endblock %}
