{%extends 'partials/base.html'%}
{% block title %}Quotation Page{% endblock %}

{% block content %}




<div class="flex flex-col w-full">
    <div class="table-auto overflow-x-scroll">
        <h5 class="mb-4 text-xl font-bold text-black">Quotation created by {{ quotation.createdBy }} on {{ quotation.dateCreated|date:"M d Y" }}</h5>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <table id="table_id" class="table table-bordered table-hover">         <!-- table id is essential for DataTables Script under for JS -->
            <thead class="thead-dark">
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                  </tr>
            </thead>
            <tbody>
            {% for quotation_item in quotation_items %}
    
                <tr>
                    <td>{{ quotation_item.inventory.name }}</td>
                    <td>{{ quotation_item.quantity }}</td>
                    <td>{{ quotation_item.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-warning" href="{% url 'edit_quotation' quotation.id %}"><span class="bi bi-pencil-square"></span> Edit</a>
        <td>
            <form action="{% url 'delete_quotation' quotation.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="pk" value="{{quotation.id}}">
            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#deleteModal">Delete</button>
    
            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Quotation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this quotation?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <form action="{% url 'delete_quotation' quotation.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{quotation.id}}">
                        <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
    
            </form>
        </td>
    
    
    {% endblock content %}
    
    </div>
</div>
    