{%extends 'partials/base.html'%}
{% block title %}Purchase Requests{% endblock %}

{% block content %}    
<div class="flex flex-col w-full">
    <div class="table-auto overflow-x-scroll">
        <div class="text-left mb-4">
        <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 sm:mt-6" id="unfiltered-btn">Show All Pending Purchase Requests</button>
        <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 sm:mt-6" id="filtered-btn">Show All Accomplished Purchase Requests</button>
    </div>
    <div id="unfiltered-container">
        <table id="unfiltered-table" class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                    {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Finance" or request.user|has_group:"Management" %}
                    <th scope="col">Quotation</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for d in pRequest %}
                <tr>
                    <td>{{ d }}</td>
                    <td>{{ d.requestLocation }}</td>

                    {% if d.dateApproved is None %}
                        <td>No Quotations yet.</td>
                    {% elif d.approvedQuotations is False %}
                        <td>Awaiting Quotation Approval</td>
                    {% elif d.approvedDelivery is False %}
                        <td>Awaiting Delivery Confirmation</td>
                    {% else %} 
                    <td>({{ d.confirmedDeliveryCount }}/{{ d.totalDeliveryCount }}) Deliveries Confirmed </td>
                    {% endif %}
                    
                    {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Finance" or request.user|has_group:"Management" %}
                    <td>
                        <a class="" href="{% url 'list-quotations' d.id %}">
                            <button class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900">
                                View Quotation
                            </button>
                        </a>
                    </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="filtered-container">
        <table id="filtered-table" class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                    {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Finance" or request.user|has_group:"Management" %}
                    <th scope="col">Quotation</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for d in filteredRequest %}
                <tr>
                    <td>{{ d }}</td>
                    <td>{{ d.requestLocation }}</td>

                    {% if d.dateApproved is None %}
                        <td>No Quotations yet.</td>
                    {% elif d.approvedQuotations is False %}
                        <td>Awaiting Quotation Approval</td>
                    {% elif d.approvedDelivery is False %}
                        <td>Awaiting Delivery Confirmation</td>
                    {% else %} 
                        {% if d.confirmedDeliveryCount == d.totalDeliveryCount%}
                        <td>All Deliveries Confirmed</td>
                        {% else %}
                        <td>({{ d.confirmedDeliveryCount }}/{{ d.totalDeliveryCount }}) Deliveries Confirmed </td>
                        {% endif %}
                    {% endif %}
                    
                    {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Finance" or request.user|has_group:"Management" %}
                    <td>
                        <a class="" href="{% url 'list-quotations' d.id %}">
                            <button class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900">
                                View Quotation
                            </button>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}

<!-- DATATABLES JS  -->
{% block js %}
    <script>
        $(document).ready( function () {
            var unfilteredTable = $('#unfiltered-table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            });
    
            var filteredTable = $('#filtered-table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            });

            $('#filtered-container').hide();

            $('#unfiltered-btn').on('click', function() {
                unfilteredTable.draw();
                $('#unfiltered-container').show();
                $('#filtered-container').hide();
            });
    
            $('#filtered-btn').on('click', function() {
                filteredTable.draw();
                $('#unfiltered-container').hide();
                $('#filtered-container').show();
            });
            
        });
    </script>
    
    </div>
{% endblock %}
