.form-card {
	padding: 1rem;
	border-radius: 8px;
	background-color: #fff0;
	color: var(--c-gray-900);
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	transition: 0.25s ease;
	grid-column-start: 2;
	color: white;

	p {
		font-size: 20px;
		margin: auto;
		visibility: false;
	}
}


.makevis {
	visibility: true;
	display: inline-block;
}