{% extends 'partials/base.html' %}
{% block title %} Edit Profile {% endblock %}
{% load crispy_forms_tags %}


{% block content %}
<div>

</div>
<div class="w-full max-h-screen overflow-y-auto max-w-sm px-3 py-2 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900">Edit Profile</h5>
    <div class="overflow-auto">
        {% block body %}
        <form method="POST" enctype="multipart/form-data"> <!-- to allow images-->
            {% csrf_token %}
            {{ form|crispy }}
            <button class="w-full text-white focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="submit" name="update_profile">Update Profile</button>
        </form>
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900">Update Location</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form_other|crispy }}
            <button class="w-full text-white focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="submit" name="update_location">Update Location</button>
        </form>
        {% endblock %}
    </div>
</div>
{% endblock %}    
