{% load bootstrap_icons %}
<div class="app-body-navigation">
   <!--  DEPRECATED UNTIL CAN FIGURE OUT HOW TO GET THE SIDE NAV INCORPORATED PROPERLY UNIFORM
    <nav class="navigation">
    {% if user.is_authenticated %}
        <a href="{% url 'dashboard-index' %}">
            {% bs_icon 'house-door' extra_classes="nav-icons" %}
            <span>Dashboard</span>
        </a>
        <a href="{% url 'view-profile' %}">
            {% bs_icon 'person-circle' extra_classes="nav-icons" %}
            <span>Profile</span>
        </a>
        <a href="{% url 'user-logout' %}">
            {% bs_icon 'box-arrow-right' extra_classes="nav-icons" %}
            <span>Logout</span>
        </a>
    {% else %}
        <a href="{% url 'user-register' %}">Register</a>
        <a href="{% url 'user-login' %}">Login</a>
    {% endif %}  
    </nav>  
    <div class="container d-flex flex-column flex-md-row">
        <nav class="navbar navbar-expand-md d-flex flex-md-column">
            {% if user.is_authenticated %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
              <ul class="navbar-nav w-100 d-flex flex-md-column text-center">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'dashboard-index' %}">Dashboard<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dashboard-index' %}">Profile<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dashboard-index' %}">Logout<span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
            </div>
            {% endif %}
          </nav>
    </div> -->
</div>