<header class="app-header">
  <div class="app-header-logo">
    <div class="logo">
      <span class="logo-icon">
        <!-- Insert logo url here -->
      </span>
      <h1 class="logo-title">
        <span>ACEA</span>
        <span>Inventory System</span>
      </h1>
    </div>
  </div>
  
  <div class="app-header-navigation">
    {% if user.is_authenticated and user.is_staff or user.is_superuser %}                  <!-- if statement to show different navigation buttons -->
    <div class="tabs">
      <a href="{% url 'dashboard-staff' %}">Staff</a>
      <!-- Look into class="active" if on.click -->
      <a href="{% url 'dashboard-inventory' %}">Inventory</a>
      <a href="{% url 'dashboard-deliveries' %}">Deliveries</a>
    </div>

    {% elif user.is_authenticated %}
    <div class="tabs">
      <a href="{% url 'dashboard-index' %}">Dashboard</a>
      <!-- Look into class="active" if on.click -->
    </div>

    {% else %}
      <a href="{% url 'user-register' %}">Register</a>
      <a href="{% url 'user-login' %}">Login</a>
    {% endif %}  

  </div>
  <div class="app-header-actions">
    <a href="{% url 'view-profile' %}">
      <button class="user-profile">
        <span>
          {{user.username}}
        </span>
        <span>
          <!--pfp code here-->
        </span>
      </button>
    </a>
    
  </div>
  
  <div class="app-header-mobile">
    <button class="icon-button large">
      <i class="ph-list"></i>
    </button>
  </div>
</header>