{% load bootstrap_icons %}
<div class="app-body-navigation">
    <nav class="navigation">
        <a href="{% url 'dashboard-index' %}">
            {% bs_icon 'house-door' extra_classes="nav-icons" %}
            <span>Dashboard</span>
        </a>
        <a href="{% url 'view-profile' %}">
            {% bs_icon 'person-circle' extra_classes="nav-icons" %}
            <span>Profile</span>
        </a>
        <a href="{% url 'user-logout' %}">
            {% bs_icon 'box-arrow-right' extra_classes="nav-icons" %}
            <span>Logout</span>
        </a>
    </nav>
</div>
<!-- NOT YET IMPLEMENTED | LOOK INTO CONVERTING TABLES INTO CARDS -->
<!--
<div class="app-body-main-content">
    <section class="service-section">
        <h2>{% block title %} {% endblock %}</h2>
        <div class="tiles">
            <article class="tile">
                <div class="tile-header">
                    <h3>
                        <span>Delivery 1</span>
                        <span>Warehouse Name</span>
                    </h3>
                </div>
                <a href="#">
                    <span>See more</span>
                    <span class="icon-button">
                        <i class="ph-caret-right-bold"></i>
                    </span>
                </a>
            </article>
            <article class="tile">
                <div class="tile-header">
                    <h3>
                        <span>Delivery 2</span>
                        <span>Warehouse Name 2</span>
                    </h3>
                </div>
                <a href="#">
                    <span>See more</span>
                    <span class="icon-button">
                        <i class="ph-caret-right-bold"></i>
                    </span>
                </a>
            </article>
            <article class="tile">
                <div class="tile-header">
                    <i class="ph-file-light"></i>
                    <h3>
                        <span>Delivery 3</span>
                        <span>Warehouse Name 3</span>
                    </h3>
                </div>
                <a href="#">
                    <span>Go to service</span>
                    <span class="icon-button">
                        <i class="ph-caret-right-bold"></i>
                    </span>
                </a>
            </article>
        </div>
        <div class="service-section-footer">
            <p>some shit here - footer.</p>
        </div>
    </section>
</div>
-->
