{% extends 'partials/base.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/nav.html' %}
{% load bootstrap_icons %}


<div class="form-card">
    <p>
        <a class="button-5" data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseForm">
            Add Category
        </a>
    </p>
    <div class="collapse" id="collapseForm">
        <div class="card card-body">
            <div class="content-header">
                <h4>Add New Category</h4>
                <hr>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ category_form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add Category" name="category">
            </form>
        </div>
    </div>
</div>

<br><br>
<div class="container py-5">
    <table id="table" class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Location</th>
                <th scope="col">Roles</th>
                <th scope="col">Update Location</th>
                <th scope="col">Update Roles</th>
                <th scope="col">Remove Roles</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.user.username }}</td>
                    <td>{{ user.location }}</td>
                    <td>
                        {% for group in user.user.groups.all %}
                            {{ group.name }}
                        {% empty %}
                            No groups
                        {% endfor %}
                    </td>
                    <td>
                        <form method="post" action="{% url 'update-user-location' user.user.id %}">
                            {% csrf_token %}
                            <select name="location">
                                <option value="" {% if not user.location %} selected {% endif %}>Null</option>
                                {% for location in locations %}
                                    <option value="{{ location.id }}"
                                        {% if location.id == user.location.id %} selected {% endif %}>
                                        {{ location.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit">Update</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{% url 'update-user-groups' user.user.id %}">
                            {% csrf_token %}
                            <select name="add_group">
                                <option value="" disabled selected>-------------------</option>
                                {% for group in groups %}
                                    {% if group not in user.user.groups.all %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <button type="submit">Add Role</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{% url 'update-user-groups' user.user.id %}">
                            {% csrf_token %}
                            <select name="remove_group">
                                {% for group in user.user.groups.all %}
                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit">Remove Role</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}


{% block js %}
    <script>
        $(document).ready( function () {
            var table = $('#table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            }); 
        });
    </script>
    
{% endblock %}
