{%extends 'partials/base.html'%}
{% block title %}Home Page{% endblock %}

{% block content %}
{% include 'partials/nav.html' %}
{% load bootstrap_icons %}

<table id="table" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Location</th>
            <th scope="col">Update Location</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
            <td>{{ user.user.username }}</td>
            <td>{{ user.location }}</td>
            <td>
                <form method="post" action="{% url 'update-user-location' user.user.id %}">
                {% csrf_token %}
                <select name="location">
                    {% for location in locations %}
                    <option value="{{ location.id }}"
                        {% if location.id == user.location.id %} selected {% endif %}>
                        {{ location.name }}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit">Update</button>
                </form>
            </td>
            </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            var table = $('#table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            }); 
        });
    </script>
    
{% endblock %}
