{% extends 'partials/base.html' %}
{% block title %}Add New Purchase Request{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% include 'partials/nav.html' %}
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="messageModalLabel" style="color: #000000;">Purchase Request Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if messages %}
                        <ul class="messages" style="color: #000000;">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-body">
        <div class="content-header">
            <h4>Create Purchase Request</h4>
            <hr>
        </div>

        <form method="POST" action="{% url 'create-request' %}">
            {% csrf_token %}

            <table id="items-table">
                {{ requestItemFormset.management_form | crispy}}
                {% for form in requestItemFormset %}
                    <tr class="formset-row">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        
                        <td>
                            {{ form.inventory|as_crispy_field }}
                        </td>
                        <td>
                            {{ form.quantity|as_crispy_field }}
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger delete-row">Remove Item</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <button type="button" class="btn btn-success add-row">Add 1 More Product</button>
            <input type="submit" class="btn btn-success btn-block" value="Create Delivery">
        </form>
        <input type=button class="btn btn-secondary" value="Go Back" onClick="javascript:history.go(-1);">
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            {% if messages %}
                $('#messageModal').modal('show');
            {% endif %}

            $('.add-row').click(function () {
                addFormsetRow();
            });

            $(document).on('click', '.delete-row', function () {
                $(this).closest('.formset-row').remove();
                updateFormsetIndexes();
            });

            function updateFormsetIndexes() {
                var i = 0;
                $('.formset-row').each(function () {
                    $(this).find('input, select, textarea').each(function () {
                        var name = $(this).attr('name').replace(/\d+/g, i);
                        $(this).attr('name', name);
                        $(this).attr('id', 'id_' + name);
                    });
                    i++;
                });
                $('#id_items-TOTAL_FORMS').val(i);
                console.log(i);
            }

            function addFormsetRow() {
                var formCount = $('#id_items-TOTAL_FORMS').val();
                var newFormHtml = $('#formset-template').html().replace(/__prefix__/g, formCount);
                var newRow = $('<tbody>').append(newFormHtml).find('.formset-row');
                $('#items-table tbody').append(newRow);
                $('#id_items-TOTAL_FORMS').val(parseInt(formCount) + 1);
                
                newRow.find('input, select, textarea').each(function () {
                    var name = $(this).attr('name').replace(/\d+/g, formCount);
                    var id = 'id_' + name;
                    $(this).attr('name', name);
                    $(this).attr('id', id);
                    $('label[for="' + $(this).attr('id') + '"]').attr('for', id);
                });
                updateFormsetIndexes();
            }
        });
    </script>
    <script id="formset-template" type="text/template">
        {% for form in requestItemFormsetEmpty %}
            <tr class="formset-row">
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                
                <td>
                    {{ form.inventory|as_crispy_field }}
                </td>
                <td>
                    {{ form.quantity|as_crispy_field }}
                </td>
                <td>
                    <button type="button" class="btn btn-danger delete-row">Remove Item</button>
                </td>
            </tr>
        {% endfor %}
    </script>
{% endblock %}
