{%extends 'partials/base.html'%}
{% block title %}Home Page{% endblock %}

{% block content %}
{% include 'partials/nav.html' %}
{% load bootstrap_icons %}
<h1>Delivery Batch #{{ deliverybatch.pk }}</h1>
<div class="container table-responsive py-5">
    <table id="table_id" class="table table-bordered table-hover">         <!-- table id is essential for DataTables Script under for JS -->
        <thead class="thead-dark">
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
              </tr>
        </thead>
        <tbody>
        {% for deliverybatchproduct in deliverybatchproducts %}
            <tr>
                <td>{{ deliverybatchproduct.product.name }}</td>
                <td>{{ deliverybatchproduct.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}