{%extends 'partials/base.html'%}
{% block title %}Home Page{% endblock %}

{% block content %}
{% include 'partials/nav.html' %}
{% load bootstrap_icons %}

{% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Engineering" %}
<div>
    <a href="{% url 'create-delivery'%}"> Create Delivery </a>
</div>
{% endif %}


<div class="container table-responsive py-5">
    <table id="table_id" class="table table-bordered table-hover">         
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Date Requested</th>
                <th scope="col">Status</th>
                {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Finance" %}
                <th scope="col">Approval</th>
                {% endif %}
                {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Engineering" %}
                <th scope="col">Arrival</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for d in delivery %}
            <tr>
                <td> <a href="{% url 'delivery_details' d.id %}">{{ d }} </td>
                <td> {{ d.dateRequested|date:"d M Y" }} </td>

                {% if d.dateApproved is None %}
                    <td>Approval Pending</td>
                {% elif d.dateArrived is None %}
                    <td>Arrival Pending</td>
                {% else %}
                    <td>Delivered</td>
                {% endif %}
                {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Finance" %}
                <td>
                    <form action ="{%url 'approveDelivery' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{d.id}}">
                    <button type="submit">Approve Delivery</button>
                    </form>
                </td>
                {% endif %}
                {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Engineering" %}
                <td>
                    <form action ="{%url 'arriveDelivery' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{d.id}}">
                    <button type="submit">Arrive Delivery</button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#table_id').DataTable({
            dom: 'B<"clear">lfrtip',
            buttons: [],
        });
    });
</script>
{% endblock %}
