{%extends 'partials/base.html'%}
{% block title %}Home Page{% endblock %}

{% block content %}
{% include 'partials/nav.html' %}
{% load bootstrap_icons %}
<h1>Delivery requested by {{ deliverybatch.requestedBy }} on {{ deliverybatch.dateRequested|date:"M d Y" }}</h1>
<h2>Status: 
    {% if deliverybatch.dateApproved is None %}
    Approval Pending
    {% elif deliverybatch.dateArrived is None %}
    Arrival Pending
    {% else %}
    Delivered
    {% endif %} </h2>

<div class="container table-responsive py-5">
    <table id="table_id" class="table table-bordered table-hover">         <!-- table id is essential for DataTables Script under for JS -->
        <thead class="thead-dark">
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
              </tr>
        </thead>
        <tbody>
        {% for deliverybatchinventory in deliverybatchInventoryitems %}
            <tr>
                <td>{{ deliverybatchinventory.inventory.name }}</td>
                <td>{{ deliverybatchinventory.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}