{% extends 'partials/base.html' %}
{% block title %}Return Inventory{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="flex flex-col w-full">
  <div class="table-auto overflow-x-scroll">
    <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
          <a href="{% url 'dashboard-index' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
            Dashboard
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            <a href="{% url 'inventory_return' %}" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Record of Returned Inventory Items</a>
          </div>
        </li>
        <li aria-current="page">
          <div class="flex items-center">
            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Transfer Inventory</span>
          </div>
        </li>
      </ol>
  </nav>
  <br>
  <h5 class="mb-4 text-2xl font-bold text-black">Transfer Inventory</h5>
  <hr class="h-px mb-8 mt-0 bg-black border-1 border-black">
      <form method="POST">
        {% csrf_token %}
        <table class="w-full" id="items-table">
          {{ formset.management_form | crispy}}
          {% for form in formset %}
            <tr class="formset-row">
              <td>{{ form.inventory|as_crispy_field }}</td>
              <td>{{ form.quantity|as_crispy_field }}</td>
              <td>{{ form.transferredTo|as_crispy_field }}</td>
              <td><button type="button" class="text-black bg-warn font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 delete-row">Remove Item</button></td>
            </tr>
          {% endfor %}
        </table>
        <button type="button" class="w-full text-black bg-add text-sm font-medium rounded-lg px-2 py-2.5 text-center mr-2 mb-2 add-row">Add 1 More Product</button>
        <button class="w-full text-black bg-proceedb text-sm font-medium rounded-lg px-2 py-2.5 text-center mr-2 mb-2" type="submit">Withdraw Inventory</button>
      </form>
      <input type=button class="text-white bg-back-btn text-sm font-medium rounded-lg px-2 py-2.5 text-center mr-2 mb-2" value="Go Back" onClick="javascript:history.go(-1);">
    </div>
  {% endblock %}

  {% block js %}
 <script id="formset-empty-row" type="text/template">
    {% for form in formset %}
        <tr class="formset-row">
            <td>{{ form.inventory|as_crispy_field }}</td>
            <td>{{ form.quantity|as_crispy_field }}</td>
            <td>{{ form.transferredTo|as_crispy_field }}</td>
            <td><button type="button" class="text-black bg-warn font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 delete-row">Remove Item</button></td>
        </tr>
    {% endfor %}
</script>

<script>
    $(document).ready(function () {
      $('.add-row').click(function () {
        addFormsetRow();
      });
  
      $(document).on('click', '.delete-row', function () {
        $(this).closest('.formset-row').remove();
        updateFormsetIndexes();
        checkFormValidity();
      });
  
      function updateFormsetIndexes() {
            var i = 0;
            $('.formset-row').each(function () {
                $(this).find('input, select, textarea').each(function () {
                    var name = $(this).attr('name').replace(/\d+/g, i);
                    $(this).attr('name', name);
                    $(this).attr('id', 'id_' + name);
                });
                i++;
            });
            $('#id_items-TOTAL_FORMS').val(i);
        }
   
      function addFormsetRow() {
        var formCount = $('#id_form-TOTAL_FORMS').val();
        var newFormHtml = $('#formset-empty-row').html().replace(/__prefix__/g, formCount);
        $('#items-table tbody').append(newFormHtml);
        $('#id_form-TOTAL_FORMS').val(parseInt(formCount) + 1);
        
        // Set the name attribute for the new form elements
        $('.formset-row:last').find('input, select, textarea').each(function () {
            var name = $(this).attr('name').replace(/\d+/g, formCount);
            var id = 'id_' + name;
            $(this).attr('name', name);
            $(this).attr('id', id);
            $('label[for="' + $(this).attr('id') + '"]').attr('for', id);
        });
        updateFormsetIndexes();
        checkFormValidity();
      }
  
      function checkFormValidity() {
        var formCount = $('.formset-row').length;
        if (formCount === 0) {
            $('button[type="submit"]').prop('disabled', true);
        } else {
            $('button[type="submit"]').prop('disabled', false);
        }
    }
  
      checkFormValidity();
  
    });
  </script>
  {% endblock %}