{%extends 'partials/base.html'%}
{% block title %}Inventory Delete Page{% endblock %}
{% include 'partials/nav.html' %}

{% block content %}
<div class="content-card">
    <div class="content-header">
        <div class="warning">
            <h3>Delete</h3>
            <hr>
                <h4>Remove entry?</h4>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <a class="btn btn-secondary" href="{% url 'dashboard-inventory' %}">Cancel</a>
                <input class="btn btn-danger" type="submit" value="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}