{%extends 'partials/base.html'%}
{% block title %}Inventory Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/nav.html' %}
<!-- ADDINVENTORY COLLAPSIBLE  -->
<div class="form-card">
    <p>
        <a class="button-5" data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseForm">
            Add Inventory Entry
        </a>
    </p>
    <div class="collapse" id="collapseForm">
        <div class="card card-body">
            <div class="content-header">
                <h4>Add Inventory Entry</h4>
                <hr>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ inventory_form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add Inventory Entry" name="inventory">
            </form>
        </div>
    </div>
</div>


<div class="card card-body">
    <div class="content-header">
        <h4>Add New Category</h4>
        <hr>
    </div>
        <form method="POST">
            {% csrf_token %}
            {{ category_form|crispy }}
            <input class="btn btn-success btn-block" type="submit" value="Add Category" name="category">
        </form>
</div>


    
<div class="container table-responsive py-5">
    <table id="table_id" class="table table-bordered table-hover">         <!-- table id is essential for DataTables Script under for JS -->
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Type</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

<!-- DATATABLES JS  -->
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable({

            dom: 'B<"clear">lfrtip',
            buttons: {
                name: 'primary',
                buttons: []
                }
            }
    );
    } );
    </script>
    </div>
{% endblock %}