{%extends 'partials/base.html'%}
{% block title %}Inventory Edit Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-card">
    <div class="content-header">
        <div class="plain">
                <h2>Edit Item</h2>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a class="btn btn-secondary" href="{% url 'dashboard-inventory' %}">Cancel</a>
                    <input class="btn btn-info" type="submit" value="Confirm Edits">
                </form>
        </div>
    </div>
</div>
{% endblock %}