{%extends 'partials/base.html'%}
{% block title %}Inventory Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/nav.html' %}
  <h2>Inventory Withdrawals</h2>
  <a href="{% url 'inventory_withdraw' %}" class="btn btn-primary">Withdraw Inventory</a> <br>


  <table id="table" id="table" class="table table-bordered table-hover table-bordered table-hover">
    <thead>
      <tr>
        <th>Inventory Item</th>
        <th>Location</th>
        <th>Location</th>
        <th>Quantity</th>
        <th>Withdrawn By</th>
        <th>Withdrawn Date</th>
      </tr>
    </thead>
    <tbody>
      {% for withdrawal in inventory_withdrawals %}
        <tr>
          <td>{{ withdrawal.inventory.name }}</td>
          <td>{{ withdrawal.inventory.location.name.name }}</td>
          <td>{{ withdrawal.inventory.location.name }}</td>
          <td>{{ withdrawal.quantity }}</td>
          <td>{{ withdrawal.withdrawn_by }}</td>
          <td>{{ withdrawal.withdrawn_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block js %}
    <script>
        $(document).ready( function () {
            var table = $('#table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            });

            
        });
    </script>
{% endblock %}

