{%extends 'partials/base.html'%}
{% block title %}Home Page{% endblock %}

{% block content %}
{% include 'partials/nav.html' %}
{% load bootstrap_icons %}

{% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Engineering" %}
<div>
    <a href="{% url 'create-quotation' pk %}"> Create Quotation </a>
</div>
{% endif %}

<div class="container py-5">
    <div id="unfiltered-container">
        <table id="unfiltered-table" class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Items</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% regroup quotation by supplierName as supplier_quotation_list %}
                {% for supplier_quotation in supplier_quotation_list %}
                    <tr>
                        <td> <a href="{% url 'quotation_details' supplier_quotation.list.0.id %}">{{ supplier_quotation.grouper }} </td>
                        <td>
                            <ul>
                                {% for quotation_item in supplier_quotation.list.0.quotationitem_set.all %}
                                    <li>{{ quotation_item.inventory.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for quotation_item in supplier_quotation.list.0.quotationitem_set.all %}
                                    <li>{{ quotation_item.quantity }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for quotation_item in supplier_quotation.list.0.quotationitem_set.all %}
                                    <li>{{ quotation_item.price }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>            
        </table>
    </div>
</div>
{% endblock %}

<!-- DATATABLES JS  -->
{% block js %}
    <script>
        $(document).ready( function () {
            console.log("Document ready"); // Added console log statement
            var unfilteredTable = $('#unfiltered-table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            });
    
            var filteredTable = $('#filtered-table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            });

            $('#filtered-container').hide();

            $('#unfiltered-btn').on('click', function() {
                unfilteredTable.draw();
                $('#unfiltered-container').show();
                $('#filtered-container').hide();
            });
    
            $('#filtered-btn').on('click', function() {
                filteredTable.draw();
                $('#unfiltered-container').hide();
                $('#filtered-container').show();
            });
            
        });
    </script>
{% endblock %}
