{%extends 'partials/base.html'%}
{% block title %}Home Page{% endblock %}

{% block content %}
{% include 'partials/nav.html' %}
{% load bootstrap_icons %}

{% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Engineering" %}
<div>
    <a href="{% url 'create-quotation' pk %}"> Create Quotation </a>
</div>
{% endif %}

<div class="container py-5">
    <div class="text-center mb-4">
        <button class="btn btn-primary" id="unfiltered-btn">Show All Quotations</button>
        <button class="btn btn-primary" id="filtered-btn">Show Quotations in my Location</button>
    </div>
    <div id="unfiltered-container">
        <table id="unfiltered-table" class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Items</th>
                </tr>
            </thead>
            <tbody>
                {% for d in quotation %}
                <tr>
                    <td> <a href="{% url 'quotation_details' d.id %}">{{ d.supplierName }} </td>
                    <td> PLACEHOLDER </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

<!-- DATATABLES JS  -->
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            var unfilteredTable = $('#unfiltered-table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            });
    
            var filteredTable = $('#filtered-table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            });

            $('#filtered-container').hide();

            $('#unfiltered-btn').on('click', function() {
                unfilteredTable.draw();
                $('#unfiltered-container').show();
                $('#filtered-container').hide();
            });
    
            $('#filtered-btn').on('click', function() {
                filteredTable.draw();
                $('#unfiltered-container').hide();
                $('#filtered-container').show();
            });
            
        });
    </script>
    
    </div>
{% endblock %}
