{%extends 'partials/base.html'%}
{% block title %}Quotation List Page{% endblock %}

{% block content %}
{% include 'partials/nav.html' %}
{% load bootstrap_icons %}

{% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Finance" %}
    {% if pRequest.approvedDelivery == False %}
        <div class="container py-5">
            <div>
                <a href="{% url 'create-quotation' pk %}" class="btn btn-success"> Create Quotation </a>
            </div>
        </div>
    {% endif %}
{% endif %}

<div class="container py-5">
    <div id="unfiltered-container">
        <table id="unfiltered-table" class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Items</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Management" or request.user|has_group:"Finance" %}
                    <th scope="col">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for q in quotationItem %}
                <tr>
                    <td>{{ q.supplierName }}</td>
                    <td>{{ q.inventory.name }}</td>
                    <td>{{ q.quantity }}</td>
                    <td>₱{{ q.price|floatformat:2 }}</td>
                    {% if q.dateApproved is None %}
                        {% if request.user.is_authenticated and request.user|has_group:"Management" or request.user|has_group:"Administrator" %}
                            <td>
                                <form action="{% url 'approveQuotation' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="pk" value="{{q.id}}">
                                <button class="btn btn-primary" type="submit">Approve Quotation</button>
                                </form>
                            </td>
                        {% elif request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Finance" %}
                            <td>Waiting Approval</td>
                        {% endif %}
                    {% else %}
                        {% if request.user.is_authenticated and request.user|has_group:"Administrator" or request.user|has_group:"Finance" and q.dateApproved %}
                            {% if q.deliverySet == False %}
                            <td>
                                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#deliveryModal{{q.id}}">
                                Set Single Delivery
                                </button>

                                <!-- Delivery Modal -->
                                <div class="modal fade" id="deliveryModal{{q.id}}" tabindex="-1" aria-labelledby="deliveryModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 style="color: #000000;" class="modal-title" id="deliveryModalLabel">Set Delivery Date</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'set-delivery' %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="mb-3">
                                                        <label style="color: #000000 !important;" for="expected_date" class="form-label">Expected Arrival Date</label>
                                                        <input type="date" class="form-control" name="expected_date " min="{{ today|date:'Y-m-d' }}" required>
                                                    </div>
                                                    <input type="hidden" name="pk" value="{{q.id}}">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a href="{% url 'create-partial-delivery' q.id %}" class="btn btn-success"> Set Multiple Deliveries </a>
                            </td>
                            {% else %}
                                <td>Delivery Created</td>
                            {% endif %}
                        {% else %}
                        <td>Approved by {{ q.approvedBy }}</td></td>
                        {% endif %}
                    {% endif %}
                    </tr>
            {% endfor %}
            </tbody>           
        </table>
        <input type=button class="btn btn-secondary" value="Go Back" onClick="javascript:history.go(-1);">
        <input type=button class="btn btn-secondary" value="Go Back" onClick="javascript:history.go(-1);">
    </div>
</div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready( function () {
            var unfilteredTable = $('#unfiltered-table').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }
            });
        });
    </script>
{% endblock %}
