{%extends 'partials/base.html'%}
{% block title %}Delivery Request Approval Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container table-responsive py-5">
    <table id="table_id" class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Delivery Items</th>
                <th scope="col">Staff Concerned</th>
                <th scope="col">Last Updated</th>
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ item.get_inventory_items | linebreaks }}</td>
                <td>{{ item.staff }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.remarks }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="content-card">
    <div class="content-header">
        <div class="plain">
                <h2>Confirm all items have arrived</h2>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a class="btn btn-secondary" href="{% url 'delivery-index' %}">Cancel</a>
                    <input class="btn btn-info" type="submit" value="Confirm Edits">
                </form>
        </div>
    </div>
</div>
{% endblock %}