{%extends 'partials/base.html'%}
{% block title %}Create Delivery Request Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/nav.html' %}
<div class="form-card">
    <p>
        <a class="button-5" data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseForm">
            Create a Delivery Request
        </a>
    </p>
    <div class="collapse" id="collapseForm">
        <div class="card card-body">
            <div class="content-header">
                <h4>Create a Delivery Request</h4>
                <hr>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ request_form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add Inventory Entry">
            </form>
        </div>
    </div>
</div>

<div class="form-card">
    <p>
        <a class="button-5" data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm">
            Add New Delivery Item
        </a>
    </p>
    <div class="collapse" id="collapseForm1">
        <div class="card card-body">
            <div class="content-header">
                <h4>Add New Delivery Item</h4>
                <hr>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ item_form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add Inventory Entry">
            </form>
        </div>
    </div>
</div>
{% endblock %}