{%extends 'partials/base.html'%}
{% block title %}Create Delivery Request Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/nav.html' %}
<div class="content-card">
    <div class="content-header">
        <h4>Create a Delivery Request</h4>
        <hr>
    </div>
        <form method="POST">
            {% csrf_token %}
            {{ request_form|crispy }}
            <input class="btn btn-success btn-block" type="submit" value="Add Inventory Entry">
        </form>
</div>
<div class="content-card">
    <div class="content-header">
        <h4>Add New Delivery Item</h4>
        <hr>
    </div>
        <form method="POST">
            {% csrf_token %}
            {{ item_form|crispy }}
            <input class="btn btn-success btn-block" type="submit" value="Add Inventory Entry">
        </form>
</div>
{% endblock %}