{% extends 'partials/base.html' %}
{% block title %} Profile Page {% endblock %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="profile-card">
        <div class="profile-header">
            <h2>Change Password</h2>
        </div>    
    <hr>
    {% block body %}
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </form>
        <input type=button class="btn btn-secondary" value="Go Back" onClick="javascript:history.go(-1);">
    {% endblock %}
    </div>
{% endblock %}