{% extends 'partials/base.html' %}
{% block title%} Login Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="bg-card-bg w-full max-w-sm p-4 rounded-lg shadow-lg sm:p-6 md:p-8">
        <h5 class="text-5xl font-extrabold text-white tracking-tight">Sign in to ACEA Inventory</h5>
        <hr class="h-px my-8 bg-gray-200 border-0">
        <form method="POST" class="text-white">
            {% csrf_token %}
            {{ form|crispy }}
        <input class="w-full text-white bg-proceedb focus:outline-none text-white bg-emerald hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" type="submit" value="Login">
        </form>
</div>
{% endblock %}