{% extends 'partials/base.html' %}
{% block title %} Profile Page {% endblock %}
{% include 'partials/nav.html' %}

{% block content %}
    <div class="profile-card">
        <div class="profile-header">
            <h2>Profile Page</h2>
            <hr>
            {% block body %}
                <h3>Username</h3>
                <p>
                    {{user.username}} 
                </p>
                <h3>First Name</h3>
                <p>
                    {{user.first_name}} 
                </p>
                <h3>Last Name</h3>
                <p>
                    {{user.last_name}}
                </p>
                <h3>Location</h3>
                <p>
                    {% for info in userProfile %}
                        {{ info.location }}
                    {% endfor %}
                </p>
                <h3>Email</h3>
                <p>
                    {{user.email}}
                </p>
                <a class="btn btn-primary" href="/profile/edit">Edit Profile</a>
                <a class="btn btn-primary" href="/profile/password">Change Password</a>
            {% endblock %}
        </div>
    </div>
{% endblock %}